<app-header></app-header>
<h1>{{title}}</h1>

<div class="informacao">
    <h3>Colaborador nº1</h3>
    <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Salário</th>
            <th>Cargo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ nathan.id }}</td>
            <td>{{ nathan.nome }}</td>
            <td>{{ nathan.salario }}</td>
            <td>{{ nathan.cargo }}</td>
          </tr>
        </tbody>
      </table>
    
</div>
<app-footer></app-footer>